:root {
  --hero-background-color: #1e1e20;
  --hero-text-color: #fafafa;
  --projects-background-color: #fafafa;
  --project-selected-background-color: #b0b0b0;
  --main-text-color: #1e1e20;
  --btn-background-color: #dc3522;
  --btn-background-hover-color: #e62e19;
  --btn-text-hover-color: #fafafa;
  --low-priority-color: green;
  --medium-priority-color: orange;
  --high-priority-color: red;
  --white: #ffffff;
  --black: #000000;
  --modal-z-index: 100;
  --overlay-z-index: 50;
  --modal-close-button-z-index: 1;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* fira-sans-regular - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fira-sans-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/fira-sans-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fira-sans-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fira-sans-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fira-sans-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/fira-sans-v15-latin-regular.svg#FiraSans") format("svg"); /* Legacy iOS */
}

html,
body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 0;
  color: var(--main-text-color);
}

.todo-container {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100%;
}

.projects {
  flex-basis: 25%;
  background-color: var(--projects-background-color);
  min-height: 100%;
}

.preview_area {
  flex-basis: 75%;
  min-height: 100%;
}

.projects,
.preview_area {
  padding: 24px;
}

.projects__title,
.preview_project__title {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 0;
}

.projects__list,
.preview_tasks__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2.4;
}

.projects__list li,
.preview_tasks__list li {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  min-width: 0;
}

.projects__edit_project,
.projects__delete_project,
.projects__input_submit,
.preview_tasks__delete_task,
.task_edit_btn {
  width: 20px;
  height: 20px;
}

.projects__input_submit,
.projects__edit_project,
.task_edit_btn {
  margin-left: auto;
}

.task-checkbox {
  cursor: pointer;
}

.projects__project_title,
.preview_project__title,
.preview_tasks__task_title {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-priority {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--low-priority-color);
}

.priority-low {
  background-color: var(--low-priority-color);
}

.priority-medium {
  background-color: var(--medium-priority-color);
}

.priority-high {
  background-color: var(--high-priority-color);
}

.task-complete {
  text-decoration: line-through;
}

.project__selected {
  background-color: var(--project-selected-background-color);
}

.projects__form_add_project,
.tasks__btn_add {
  margin: 1.6rem 0;
}

header,
footer {
  background-color: var(--hero-background-color);
  color: var(--hero-text-color);
}

.header__title {
  margin: 0;
  padding: 24px;
}

footer {
  text-align: center;
}

.projects__form_container {
  display: flex;
  align-items: center;
}

.projects__input {
  height: 32px;
  width: 20rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  border-style: groove;
}

.projects__edit_project,
.projects__delete_project,
.projects__input_submit,
.task_edit_btn,
.preview_tasks__delete_task {
  filter: invert(7%) sepia(14%) saturate(251%) hue-rotate(202deg)
    brightness(106%) contrast(89%);
}

.projects__form_container {
  gap: 8px;
}

.tasks__btn_add,
.modal__btn_submit {
  border: 0;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: var(--btn-background-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.tasks__btn_add:hover,
.modal__btn_submit:hover {
  background-color: var(--btn-background-hover-color);
  color: var(--btn-text-hover-color);
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 450px;
  max-height: 100%;
  z-index: var(--modal-z-index);
  box-shadow: 0 0 60px 10px rgba (0, 0, 0, 0.9);
  background: var(--white);
}

.modal__content {
  /* cover the modal */
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* spacing as needed */
  padding: 20px;

  /* let it scroll */
  overflow: auto;
}

.overlay {
  z-index: var(--overlay-z-index);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal__close_button {
  position: absolute;
  z-index: var(--modal-close-button-z-index);
  top: 20px;
  right: 20px;
  border: 0;
  background: var(--black);
  color: var(--white);
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
}

.modal label {
  display: block;
}

.modal input,
.modal textarea,
.modal select {
  display: block;
  margin-bottom: 2rem;
  width: 20rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  border-radius: 10px;
  padding: 0 1rem;
  border-style: groove;
}

.modal textarea {
  height: 5rem;
  padding: 1rem;
}

.modal__btn_submit {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 750px) {
  .todo-container {
    flex-direction: column;
  }

  .modal {
    width: 450px;
  }

  .modal input,
  .modal textarea,
  .modal select {
    width: 15rem;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 300px;
  }

  .modal input,
  .modal textarea,
  .modal select {
    width: 10rem;
  }
}
